header {
    font-size: 9px;
    white-space: nowrap;
}

body {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: hsl(179deg, 60%, 60%);
    border-bottom: 15px solid hsl(179deg, 60%, 20%);
    padding: 0.9rem;
}

nav a {
    color: hsl(179deg, 0%, 100%);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    padding-right: 5rem;
}

header {
    background-image: url(../image/picture.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    border-top: 40px;
    display: flow-root;
    font-family: sans-serif;
}

main {
    margin-left: 30px;
    margin-right: 30px;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    color: hsl(179deg, 60%, 20%);
    text-shadow: 2px 2px 1px hsl(179deg, 0%, 100%);
    text-indent: 30px;
}

h2 {
    font-size: 45px;
    color: hsl(179deg, 61%, 80%);
    text-indent: 30px;
    text-shadow: 2px 1px 1px hsl(179deg, 60%, 30%);
}

h3 {
    font-size: 2rem;
    color: hsl(179deg, 60%, 60%);
}

h4 {
    font-size: 1.5rem;
    color: hsl(179deg, 60%, 60%);
}

section{
    line-height: 1.7;
    font-weight: 100;
}
ul {
    line-height: 1.7;
    font-weight: 100;
    list-style-position:inside;
    text-indent: -40px;
}
